{% extends 'base.html.twig' %}

{% block title %}Wystaw komentarz{{parent()}}
{% endblock %}

{% block body %}

	<h1>Wystaw komentarz do aukcji</h1>

	<div class="row mt-2">
		<ul id="auctions" class="list-group col">


			<a href="{{path('auction-details',{'auctionId': auction.id})}}" class="list-group-item list-group-item-dark list-group-item-action {% if date(auction.endsAt) < date() %}text-secondary{% endif %}"><img src="{% if auction.images[0].filename is defined and auction.images[0].filename != '' %}{{asset(tip~auction.images[0].filename)}}{% endif %}" width="75">
				<div class='d-inline-block align-middle m-1 p-1'>
					<span class='d-block'>
						<b>{{auction.title}}</b>
					</span>
					<span>
						ends{{ auction.endsAt|ago }}
					</span>
				</div>
				HO:
				<b>{{auction.offers[0].Value}}
					PLN</b>

			</a>

		</ul>

	</div>


	{{ form_start(form)}}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
