{% extends 'base.html.twig' %}

{% block title %}PDPAPW.PL{% endblock %}

{% block body %}
	<h1>Wystaw komentarze dla aukcji</h1>


		<div id='contener'></div>


{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>

let optionsClicked = false;
window.onLoad = getAuctions({{app.request.get('page')}});

{# only dynamic data for getAuctions #}
{# let GAJArray = {}; #}




{# modal code #}

function onChangeHandler (selectedObject)
{
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject
    }
	})
	.done(res => 
	{ 
		getAuctions(1);
	});
}

function getAuctions(requestedPage)
{
	{# GAJArray.requestedPage = requestedPage; #}
    $.ajax({
   	 	url: "{{path ('getAllCAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: JSON.stringify({requestedPage}) })
	.done(res => 
	{ 
		sessionStorage.setItem("getAllCAuctionsResponse", res);
		sessionStorage.setItem("getAllCAuctionsRqPage", requestedPage);

		processSuccess(res, requestedPage);
	});
}

function processSuccess(res, requestedPage)
	{
		if(res == 'none')
		{
			$('#list-content').html("No auctions");
			return;
		}

		$('#contener').html(res);

		let pageElementsArray = $('.page-item').toArray();
		pageElementsArray.forEach(function (pageItemElement) 
		{
			if(requestedPage == pageItemElement.children[0].innerHTML)
				$(pageItemElement).addClass('active');
			else
				$(pageItemElement).removeClass('active');

			if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage == 1)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage > 1)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage-1)+')');
			}
			
			if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage == pageElementsArray.length-2)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage < pageElementsArray.length-2)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage+1)+')');
			}
		});
	}

	function task(auctionId, owner)
	{
        optionsClicked = true;
		if($("#form-"+auctionId).length == 0)
			$("#aid-"+auctionId).after('<form id="form-'+auctionId+'" class="mt-3"><div class="form-group"><textarea class="form-control" id="commentTA-'+auctionId+'" rows="3"></textarea><button onclick="submitComment(\''+auctionId+'\',\''+owner+'\')" class="btn-primary btn" type="button">Wyślij</button><select name="cvalue" id="cvalue-'+auctionId+'"><option selected value="1">Pozytywny</option><option value="0">Neutralny</option><option value="-1">Negatywny</option></select></div></form>');
	}

	 function link(link)
    {
        if(!optionsClicked)
            window.location.href = link;
    }

	// POST COMMENT AJAX CALL ///
	function submitComment(auctionId, ownerLink)
	{
		console.log(ownerLink);
		if({% if app.user %}true{% else %}false{% endif %} && $("#commentTA-"+auctionId).val() != "")
		{
			let url = "{{path ('postComment') }}";

			$.ajax({
				url: url,
				method: "post", 
				data: JSON.stringify(
					{'content': $("#commentTA-"+auctionId).val(),
					'auctionId': auctionId,
					'value': $("#cvalue-"+auctionId).val()})
				})
			.done(res => 
			{ 
				console.log(res);
				if(res.result == "Success")
				{
					$('#form-'+auctionId).after('<p>Komentarz wystawiony <a target="_blank" href="'+ownerLink+'">Zobacz</a></p>');
					$("#form-"+auctionId).remove();
					$("#aid-"+auctionId).remove();
				}
			});
    	}
	}


</script>
{% endblock %}