{% extends 'base.html.twig' %}

{% block title %}PDPAPW.PL{% endblock %}

{% block body %}
	<h1>Wystaw komentarze dla aukcji</h1>

	{# modal for tasks or notify user is not logged in #}
	{% if app.user %}
    {{ include('parts/include/ht_modal_tasks.twig')  }}
	{% else %}
    {{ include('parts/include/ht_modal_not_logged_in.twig')  }}
	{% endif %}


	<div class="container-fluid">
			
			{{ include('parts/include/ht_filters.html.twig')  }}

		<div id='contener'></div>


	</div>

{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>

let optionsClicked = false;
window.onLoad = getAuctions({{app.request.get('page')}});

{# only dynamic data for getAuctions #}
{# let GAJArray = {}; #}




{# modal code #}

function onChangeHandler (selectedObject)
{
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject
    }
	})
	.done(res => 
	{ 
		getAuctions(1);
	});
}

function getAuctions(requestedPage)
{
	{# GAJArray.requestedPage = requestedPage; #}
    $.ajax({
   	 	url: "{{path ('getAllCAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: JSON.stringify({requestedPage}) })
	.done(res => 
	{ 
		sessionStorage.setItem("getAllCAuctionsResponse", res);
		sessionStorage.setItem("getAllCAuctionsRqPage", requestedPage);

		processSuccess(res, requestedPage);
	});
}

function processSuccess(res, requestedPage)
	{
		if(res == 'none')
		{
			$('#list-content').html("No auctions");
			return;
		}

		$('#contener').html(res);

		let pageElementsArray = $('.page-item').toArray();
		pageElementsArray.forEach(function (pageItemElement) 
		{
			if(requestedPage == pageItemElement.children[0].innerHTML)
				$(pageItemElement).addClass('active');
			else
				$(pageItemElement).removeClass('active');

			if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage == 1)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage > 1)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage-1)+')');
			}
			
			if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage == pageElementsArray.length-2)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage < pageElementsArray.length-2)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage+1)+')');
			}
		});
	}

	function task(auctionId)
	{
        optionsClicked = true;
		$("#aid-"+auctionId).after('<form id="replyForm-'+auctionId+'" class="mt-3"><div class="form-group"><textarea class="form-control" id="commentTA-'+auctionId+'" rows="3"></textarea><button onclick="submitComment('+auctionId+')" class="btn-primary btn" type="button">Post comment</button></div></form>');
	}

	 function link(link)
    {
        if(!optionsClicked)
            window.location.href = link;
    }


</script>
{% endblock %}