{% extends 'base.html.twig' %}

{% block title %}My profile{{parent()}}
{% endblock %}

{% block body %}

	<h1>Managment</h1>

	<a href="{{path('my-notifications')}}">
		<h2>Powiadomienia</h2>
	</a>

	<a href="{{path('user-auctions', {'username': app.user, 'mode': 1 })}}">
		<h2>Show and manage my auctions</h2>
	</a>
	<a href="{{path('profile-details', {'username': app.user})}}">
		<h2>My profile details</h2>
	</a>
	<a href="{{path('comment-all-auctions')}}">
		<h2>Wystaw kometarze kupującego</h2>
	</a>
	<br>
	<a href="{{path('user-auctions', {'username': app.user, 'mode': -1 })}}">
		<h2>Show my favorite auctions</h2>
	</a>
	<a href="{{path('change-password')}}">
		<h2>Modify pwd</h2>
	</a>
	<h1>
		Stats in here
	</h1>

{% endblock %}
