{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

<h1>My profile</h1>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header  text-dark">
        <h5 class="modal-title" id="exampleModalLongTitle">Whot U want 2 do?</h5>
        <button  onclick="$('#exampleModalCenter').modal('hide')" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-secondary me-2" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('hide')">Cancel</button>
        <button type="button" class="btn btn-primary me-2" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('hide')">End now</button>
        <button type="button" class="btn btn-primary" onclick="deleteAuction()">Delete</button>
      </div>
      {# <div class="modal-footer">
        
      </div> #}
    </div>
  </div>
</div>

{# <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="$('#exampleModalCenter').modal('show')">
  Launch demo modal
</button> #}


{% for auction in auctions %}


	<a href="#" onclick="link('{{path('auction-details',{'auctionId': auction.0.id})}}')" class="list-group-item list-group-item-dark list-group-item-action"><img src="{% if auction.filename is defined and auction.filename != '' %}{{asset(tip~auction.filename)}}{% endif %}" width="70">
		{{auction.0.title}}
		| kończy się
		
			{{ auction[0].endsAt|date('H:m:s d-m-Y') }} | Najwyższa oferta: <b>{{auction.hghst/100}} PLN</b> <button onclick="task({{auction.0.id}})">Tasks</button>
	</a> 
{% endfor %}




{% endblock %}


{% block javascripts %}
{{ parent() }}
    <script>
    let optionsClicked = false;
    let clickedId;
    function task(clickedId)
    {
        optionsClicked = true;
        this.clickedId = clickedId;
        //$('.modal-body').html('You have clicked '+clickedId);
        $('#exampleModalCenter').modal('show')
    }

    function link(link)
    {
        if(!optionsClicked)
            window.location.href = link;
    }

    $('#exampleModalCenter').on('hidden.bs.modal', function (e) 
    {
        optionsClicked = false;
    })

    function deleteAuction()
    {

    }
    </script>
{% endblock %}