{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

<h1>My profile</h1>

{% for auction in auctions %}


	<a href="#" onclick="link('{{path('auction-details',{'auctionId': auction.0.id})}}')" class="list-group-item list-group-item-dark list-group-item-action"><img src="{% if auction.filename is defined and auction.filename != '' %}{{asset(tip~auction.filename)}}{% endif %}" width="70">
		{{auction.0.title}}
		| kończy się
		
			{{ auction[0].endsAt|date('H:m:s d-m-Y') }} | Najwyższa oferta: <b>{{auction.hghst/100}} PLN</b> <button onclick="task()">Options</button>
	</a> 
{% endfor %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
    let optionsClicked = false;
    function task()
    {
        optionsClicked = true;
        alert('ALert! Our control poion has being captured!')
        optionsClicked = false;
    }

    function link(link)
    {
        if(!optionsClicked)
            window.location.href = link;
    }
    </script>
{% endblock %}