{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
<h1>My profile</h1>
{# <UL> #}
{% for auction in auctions %}

    <div class=""> 
	<a href="{{path('auction-details',{'auctionId': auction.0.id})}}" class="list-group-item list-group-item-dark list-group-item-action"><img src="{% if auction.filename is defined and auction.filename != '' %}{{asset(tip~auction.filename)}}{% endif %}" width="70">
		{{auction.0.title}}
		| kończy się
		
			{{ auction[0].endsAt|date('H:m:s d-m-Y') }} | Najwyższa oferta: <b>{{auction.hghst/100}} PLN</b> <button onclick="task()">Options</button>
	</a> 
	{#{{dump(auction)}} #}
{% endfor %}
{# </ul> #}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function task()
{
    alert('ALert! Our control poion has being captured!')
}
</script>
{% endblock %}