{% extends 'base.html.twig' %}

{% block title %}User {{USR}} - {{ parent() }}{% endblock %}

{% block body %}
<h1>Details of user {{USR}}</h1>
Number of auctions issued by this user : <b>{{USR.auctions|length}}</b> <a href="{{path('user-auctions', {'username': USR})}}">--->Show</a><br>
Leading in the following number of aucions : 30 <a href="{{path('user-auctions', {'username': USR})}}">--->Show</a><br>
Number of auctions the user is participating in  : 30 <a href="{{path('user-auctions', {'username': USR})}}">--->Show</a><br>
All issued offers : 30 

<pre>
    {{ dump(USR) }}
</pre>

{% endblock %}


{# SELECT auctions.id, username, (SELECT offers.id FROM offers) as leads FROM users left join auctions on users.id=auctions.by_user_id WHERE users.username = 'Emis' GROUP by auctions.id #}