{% extends 'base.html.twig' %}

{% block title %}User {{56}} - {{ parent() }}{% endblock %}

{% block body %}
<h1>Details of user {{56}}</h1>
Number of auctions issued by this user : 30 <a href="{{path('user-auctions', {'username': 56})}}">--->Show</a><br>
Leading in the following number of aucions : 30 <a href="{{path('user-auctions', {'username': 56})}}">--->Show</a><br>
Number of auctions the user is participating in  : 30 <a href="{{path('user-auctions', {'username': 56})}}">--->Show</a><br>
All issued offers : 30 

<pre>
    {{ dump(USR) }}
</pre>

{% endblock %}