{% extends 'base.html.twig' %}

{% block title %}User
	{{USR[0][0].username}}{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Details of user
		{{USR[0][0].username}}</h1>

<h2 id='rate'></h2>
	Number of auctions EVER issued by this user :
	<b>
		{% if USR[0]['Auctions_Issued'] != 0 %}
			{{USR[0]['Auctions_Issued']}}{% else %}No auctions
		{% endif %}
	</b>
	<span class='text-danger'>Suma $ sprzedawanych i sprzedanych:
		<b class='text-danger'>{{USR[0]['Sum_Sold_Selling']/100}}
			PLN</b>
	</span>
	<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 1})}}">--->Show</a><br>

	Liczba sprzedanych aukcji:
	<b class='text-danger'>{{USR[0]['Sold']}}</b>
	,
	<b class='text-danger'>Suma $ sprzedanych:
		{{USR[0]['Sum_Sold']/100}}
		PLN</b>
	,
	<B class="text-warning">
		<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 2})}}">->Show</a>
	</b><br>

	Obecnie sprzedaje:
	<b class='text-danger'>{{USR[0]['Selling']}}</b>,
	<b class='text-danger'>Suma $ sprzedawanych:
		{{USR[0]['Sum_Selling']/100}}
		PLN</b>,
	<B class="text-warning">
		<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 3})}}">--->Show</a>
	</b><br><BR>

	Leading in the following number of aucions :
	<b class='text-danger'>{{USR[0]['Leading_In']}}</b>,
	<span class="text-success">Suma $ in leading auctions:
		<b class='text-danger'>{{USR[0]['Sum_In_Leading']/100}}
			PLN</b>
	</span>
	<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 4})}}">--->Show</a><br>

	Liczba wygranych aukcji:
	<b class='text-danger'>{{USR[0]['Won']}}</b>, Suma $ wygranych:
	<b class='text-danger'>{{USR[0]['Sum_Won']/100}}
		PLN</b>
	<B class="text-warning">
		<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 5})}}">--->Show</a>
	</b><br><BR>

	{# Number of auctions the user is participating in EVER(WRONG)  : <b></b> <a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 3})}}"><B class="text-warning"--->Show</b></a>  #}
	<BR><span class="text-success">PARTICIPATING Bierze udział CURRENTLY:
		<b class='text-danger'>{{USR[0]['Participating_In']}}</b>,
		<B class="text-warning">
			<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 6})}}">--->Show</a>
		</b>
	</span><br>

	<span class="text-success">PARTICIPATING Bierze udział ale przegrywa:
		<b class='text-danger'>{{USR[0]['Participating_In_Not_Leading']}}</b>,
		<B class="text-warning">
			<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 7})}}">--->Show</a>
		</b>
	</span><br>

	<span class="text-success">PARTICIPATING Brał udział BRAŁ:
		<b class='text-danger'>{{USR[0]['Participated_In']}}</b>,
		<B class="text-warning">
			<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 8})}}">--->Show</a>
		</b>
	</span><br>

	<span class="text-success">PARTICIPATING Brał udział ale przegrał NIEWYGRAŁ:
		<b class='text-danger'>{{USR[0]['Participated_In_Not_Leading']}}</b>,
		<B class="text-warning">
			<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 9})}}">--->Show</a>
		</b>
	</span><br>

	All issued offers :
	{{USR[0]['All_Offers']}}
	<hr>

    {% set listToRemoveReplyButton = '' %}
    {% set userRate = 0 %}
    {% set negatives = 0 %}
    {% set positives = 0 %}
    {% set neutrals = 0 %}
	{% set commentCount = 0 %}
    

	{# {% for comment in auction.comments %}
	    {% if comment.value == null %}
	        {% set commentCount = commentCount + 1 %}
	    {% endif %}
	{% endfor %} #}

	{% for auction in USR[0][0].Auctions %}

		{% for comment in auction.comments|filter(comment => not comment.isDeleted) %}
			{% if comment.value > -2 and comment.value < 2%}
				{% set commentCount = commentCount + 1 %}
			{% endif %}
		{% endfor %}

	{% endfor %}

	<div class="row mb-3">
		<div>
			<h2 class='d-inline-block'>Komentarze kupujących</h2>
			<h3 class='float-end'>
				{% if commentCount == 0 %}No
				{% else %}
					{{commentCount}}
				{% endif %}
				comments</h3>
		</div>
		<div id="comments-section">
			{% for auction in USR[0][0].Auctions %}
				{% for comment in auction.comments|filter(comment => not comment.isDeleted) %}
					{% if comment.value > -2 %}
                        {% set userRate = userRate + comment.value %}
						<div id="comment-{{comment.id}}"class="list-group-item-{% if comment.value == 1 %}{% set positives = positives + 1 %}success{% elseif comment.value == 0 %}{% set neutrals = neutrals + 1 %}dark{% elseif comment.value == -1 %}{% set negatives = negatives + 1 %}danger{% else %}{% set userRate = userRate - comment.value %}info ms-4{% endif %} rounded p-3 mb-1">
							<small class='float-end'>{{comment.createdAt|ago}}</small>
							<div>
								{% if comment.value == 2 %}{% set listToRemoveReplyButton = listToRemoveReplyButton ~ comment.replyTo.id~',' %}<i>Odpowiedź sprzedającego </i>{% endif %}<b>{{comment.byUser.username}} </b><br>
								<span>
									{{comment.content}}
								</span><br>
								<small id='small-{{comment.id}}'>
									Dotyczy aukcji
									<a href="{{path('auction-details', {'auctionId': auction.id})}}">{{auction.title}}</a>
								</small>
							{% if app.user == app.request.get('username') and comment.replyTo.id is not defined %}<small id='rsm-{{comment.id}}' onclick="sellerReplyToComment({{comment.id}},{{auction.id}})" class='float-end'>odpowiedz</small>{% endif %}{% if is_granted('ROLE_ADMIN') %}<small onclick='adminDeleteComment({{comment.id}})' class='float-end text-danger me-2'>usuń</small>{% endif %}
							</div>
						</div>

					{% endif %}
				{% endfor %}
			{% endfor %}
            {% if app.user %}<input type="hidden" id="csrf" value="{{csrf_token(app.user.id)}}"/>{% endif %}
            <input type="hidden" id="removeReplyOption" value="{{listToRemoveReplyButton}}"/>
            <input type="hidden" id="hid_rate" value="{{userRate}}"/>
            <input type="hidden" id="hid_pos" value="{{positives}}"/>
            <input type="hidden" id="hid_neu" value="{{neutrals}}"/>
            <input type="hidden" id="hid_neg" value="{{negatives}}"/>

			
		</div>
	</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("#rate").html("Punkty użytkownika: "+$("#hid_rate").val()+"<br>Komentarze pozytywne: "
+$("#hid_pos").val()+"<br>Komentarze negatywne: "+$("#hid_neg").val()+"<br>Komentarze neutralne: "+$("#hid_neu").val());

$("#removeReplyOption").val().split(',').forEach((item) => 
{
	$("#rsm-"+item).remove();
});

function sellerReplyToComment(commentId, raid)
{
	$("#comment-"+commentId).after('<form id="replyForm-'+commentId+'" class="mt-3"><div class="form-group"><textarea class="form-control" id="commentTA-'+commentId+'" rows="3"></textarea><button onclick="submitComment('+commentId+','+raid+')" class="btn-primary btn" type="button">Post comment</button></div></form>');
}

// POST COMMENT AJAX CALL ///
function submitComment(commentId, raid)
{
    if({% if app.user %}true{% else %}false{% endif %} && $("#commentTA-"+commentId).val() != "")
    {
        let url = "{{path ('postComment') }}";

        $.ajax({
            url: url,
            method: "post", 
            data: JSON.stringify(
                {'content': $("#commentTA-"+commentId).val(),
                'auctionId': raid,
				'inReplyTo': commentId,
				'csrf': $("#csrf").val()})
            })
        .done(res => 
        { 
            if(res.result == "Success")
            {
				$("#form-"+commentId).remove();
                    $("#comment-"+commentId).after('<div class="list-group-item-info rounded p-3 ms-4 mb-1"><small class="float-end">now</small><div><i>Odpowiedź sprzedającego </i><b>{{app.user}}</b><br><span> '+$("#commentTA-"+commentId).val()+' </span><br>'+$("#small-"+commentId).html()+'</div></div>');
                    $("#replyForm-"+commentId).remove();
            }
        });
    }
}
// POST COMMENT AJAX CALL ///


{% if is_granted('ROLE_ADMIN') %}
function adminDeleteComment(commentId)
{
	let url = "{{path ('deleteComment') }}";

	$.ajax({
		url: url,
		method: "post", 
		data: JSON.stringify(
			{commentId,
			'csrf': $("#csrf").val()})
		})
	.done(res => 
	{ 
		console.log(res);
		if(res.result == 1)
		{
			$("#comment-"+commentId).remove();
		}
	});
}
{% endif %}


</script>
{% endblock %}
