{% extends 'base.html.twig' %}

{% block title %}User {{USR[0][0].username}}{{ parent() }}{% endblock %}

{% block body %}
<h1>Details of user {{USR[0][0].username}}</h1>
Number of auctions issued by this user : <b>{% if USR[0]['Auctions_Issued'] != 0 %}{{USR[0]['Auctions_Issued']}}{% else %}No auctions{% endif %} </b><span class='text-danger'>Suma $ sprzedawanych i sprzedanych: <b class='text-danger'>{{USR[0]['Sum_Sold_Selling']/100}} PLN</b></span> <a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 1})}}">--->Show</a><br>
Liczba sprzedanych aukcji: <b class='text-danger'>{{USR[0]['Sold']}}</b> , <b class='text-danger'>Suma $ sprzedanych: {{USR[0]['Sum_Sold']/100}} PLN</b> , <B class="text-warning"><<a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 2})}}">->Show</a></b><br>
Obecnie sprzedaje: <b class='text-danger'>{{USR[0]['Selling']}}</b>, <b class='text-danger'>Suma $ sprzedawanych: {{USR[0]['Sum_Selling']/100}} PLN</b>, <B class="text-warning"><a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 3})}}">--->Show</a></b><br><BR>
Leading in the following number of aucions : <b class='text-danger'>{{USR[0]['Leading_In']}}</b>, <span class="text-success">Suma $ in leading auctions: <b class='text-danger'>{{USR[0]['Sum_In_Leading']/100}} PLN</b></span> <a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 2})}}"><B class="text-warning">--->Show</b></a><br>
Liczba wygranych aukcji: <b class='text-danger'>{{USR[0]['Won']}}</b>, Suma $ wygranych: <b class='text-danger'>{{USR[0]['Sum_Won']/100}} PLN</b> <B class="text-warning">-Show</b><br><BR>
{# Number of auctions the user is participating in EVER(WRONG)  : <b></b> <a href="{{path('user-auctions', {'username': USR[0][0].username, 'mode': 3})}}"><B class="text-warning"--->Show</b></a>  #}
<BR><span class="text-success">PARTICIPATING Bierze udział CURENTLUY: <b class='text-danger'>{{USR[0]['Participating_In']}}</b>, <B class="text-warning"-> Show</b></span><br>
<span class="text-success">PARTICIPATING Bierze udział ale przegrywa: <b class='text-danger'>{{USR[0]['Participating_In_Not_Leading']}}</b>, <B class="text-warning"-> Show</b></span><br>
<span class="text-success">PARTICIPATING Brał udział BRAŁ: <b class='text-danger'>{{USR[0]['Participated_In']}}</b>, <B class="text-warning"-> Show</b></span><br>
<span class="text-success">PARTICIPATING Brał udział ale przegrał NIEWYGRAŁ: <b class='text-danger'>{{USR[0]['Participated_In_Not_Leading']}}</b>, <B class="text-warning"-> Show</b></span><br>
All issued offers : {{USR[0]['All_Offers']}}
<div class="text-success">
<BR>TODO:<BR>
{# Niewygrał, <B class="text-warning"->Show</b></div> #}

<pre>
    {{ dump(USR) }}
</pre>

{% endblock %}


{# SELECT auctions.id, username, (SELECT offers.id FROM offers) as leads FROM users left join auctions on users.id=auctions.by_user_id WHERE users.username = 'Emis' GROUP by auctions.id #}

{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In

FROM users  

WHERE users.id = 1 #}


{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(DISTINCT auctions.id) FROM auctions
RIGHT JOIN 
 (SELECT DISTINCT ada.auction_id FROM offers ada where ada.by_user_id=1 and ada.value=(select max(t2.value) from offers t2 where t2.id=ada.id)) ofers
 ON auctions.id=ofers.auction_id ) Leading_In

FROM users  

WHERE users.id = 1 #}

{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(DISTINCT auctions.id) FROM auctions
RIGHT JOIN 
 (SELECT DISTINCT ada.auction_id FROM offers ada where ada.by_user_id=1 and ada.value=(select max(t2.value) from offers t2 where t2.id=ada.id)) ofers
 ON auctions.id=ofers.auction_id ) Leading_In

FROM users  

WHERE users.id = 1 #}

{# WORKING:
SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(*)
FROM offers ofUP
WHERE value=(SELECT max(value) FROM offers ofNE WHERE ofNE.auction_id=ofUP.auction_id)
AND by_user_id=1) Leading_In

FROM users  

WHERE users.id = 1 #}