{% extends 'base.html.twig' %}

{% block title %}User {{USR}}{{ parent() }}{% endblock %}

{% block body %}
<h1>Details of user {{USR}}</h1>
Number of auctions issued by this user : <b>{#% if USR.auctions is defined %}{{USR.auctions|length}}{% else %}No auctions{% endif </b> <a href="{{path('user-auctions', {'username': USR.username})}}">--->Show</a>%#}<br>
Leading in the following number of aucions : LA FAMILIA ES TODO <a href="{{path('user-auctions', {'username': USR})}}">--->Show</a><br>
Number of auctions the user is participating in  : LA FAMILIA ES TODO <a href="{{path('user-auctions', {'username': USR})}}">--->Show</a><br>
All issued offers : LA FAMILIA ES TODO 

<pre>
    {{ dump(USR) }}
</pre>

{% endblock %}


{# SELECT auctions.id, username, (SELECT offers.id FROM offers) as leads FROM users left join auctions on users.id=auctions.by_user_id WHERE users.username = 'Emis' GROUP by auctions.id #}

{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In

FROM users  

WHERE users.id = 1 #}


{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(DISTINCT auctions.id) FROM auctions
RIGHT JOIN 
 (SELECT DISTINCT ada.auction_id FROM offers ada where ada.by_user_id=1 and ada.value=(select max(t2.value) from offers t2 where t2.id=ada.id)) ofers
 ON auctions.id=ofers.auction_id ) Leading_In

FROM users  

WHERE users.id = 1 #}

{# SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(DISTINCT auctions.id) FROM auctions
RIGHT JOIN 
 (SELECT DISTINCT ada.auction_id FROM offers ada where ada.by_user_id=1 and ada.value=(select max(t2.value) from offers t2 where t2.id=ada.id)) ofers
 ON auctions.id=ofers.auction_id ) Leading_In

FROM users  

WHERE users.id = 1 #}

{# WORKING:
SELECT users.id, users.username, 
(SELECT COUNT(*) FROM auctions WHERE by_user_id=1) Auctions_Issued, 
(SELECT COUNT(*) FROM offers WHERE by_user_id=1) All_Offers ,
(SELECT COUNT(DISTINCT offers.auction_id) FROM offers WHERE by_user_id=1) Participating_In,

(SELECT COUNT(*)
FROM offers ofUP
WHERE value=(SELECT max(value) FROM offers ofNE WHERE ofNE.auction_id=ofUP.auction_id)
AND by_user_id=1) Leading_In

FROM users  

WHERE users.id = 1 #}