{% extends 'base.html.twig' %}

{% block title %}Users list{{ parent() }}{% endblock %}

{% block body %}
<h1>Users list</h1>

{% for user in users %}
    {{user}} <a href="{{path('user-auctions',{username: user} )}}">show auctions</a> 

    {# admin options #}
    {% if true %}
    | is Verified? {% if user.isVerified == 1 %}<b id="vs-{{user}}" class="text-success">yes</b> <a id="li-{{user}}" href='#' onclick="toggleVerification('{{user}}',true)">toggle</a>{% else %}<b id="vs-{{user}}" class='text-danger'>no</b> <a id="li-{{user}}" href='#' onclick="toggleVerification('{{user}}',false)">toggle</a>{% endif %} | 
    is Banned? <b class="text-success">no</b> <a href='#'>BAN</a> 
    {% endif %}

    <hr>
{% endfor %}

<pre>
    {{ dump(users) }}
</pre>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
function toggleVerification(username, action)
{
        fetch("{{path('toggleVerification')}}", 
        {
            method: 'POST',
            body: JSON.stringify(
                {
                    action,
                    username
                })
        })
        .then((response) => 
        {
            response.json().then(function(json)
            {
                if(json.result == 'Success')
                {
                    if(action)
                    {
                        $("#vs-"+username).html('no');
                        $("#vs-"+username).toggleClass('text-succes');
                        $("#vs-"+username).toggleClass('text-danger');
                        $("#li-"+username).
                    }
                    else
                    {
                        $("#vs-"+username).html('yes');
                        $("#vs-"+username).toggleClass('text-succes');
                        $("#vs-"+username).toggleClass('text-danger');
                    }
                }

            });
        })
        .catch(() => { /* Error. Inform the user */ })
}
</script>
{% endblock %}