{% extends 'base.html.twig' %}

{% block title %}Users list{{ parent() }}{% endblock %}

{% block body %}
<h1>Users list</h1>

{% for user in users %}
    {{user}} <a href="{{path('user-auctions',{username: user} )}}">show auctions</a> 

    {# admin options #}
    {% if is_granted('ROLE_ADMIN') %}
    | is Verified? {% if user.isVerified == 1 %}<b class="text-success">yes</b> <a href='#' onclick="toggleVerification(true)">cancel verification</a>{% else %}<b class='text-danger'>no</b> <a href='#' onclick="toggleVerification(false)">verify</a>{% endif %} | 
    is Banned? <b class="text-success">no</b> <a href='#'>BAN</a> 
    {% endif %}

    <hr>
{% endfor %}

<pre>
    {{ dump(users) }}
</pre>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
function toggleVerification(action)
{
fetch("{{path('toggleVerification')}}", 
         {
            method: 'POST',
            body: JSON.stringify({
            'auctionId' : clickedId
            })
        })
        .then((response) => 
        {
            response.json().then(function(json)
            {
                {# console.log(json); #}
                $('.modal-body').html(json.result);

                if(json.result == 'Success')
                    setTimeout(() => {$('#exampleModalCenter').modal('hide')}, 1100);
            });
        })
        .catch(() => { /* Error. Inform the user */ })
}
</script>
{% endblock %}