{% extends 'base.html.twig' %}

{% block title %}Auctions of {% if app.request.get('username')%}{{app.request.get('username')}}{% else %}{{app.user}}{% endif %} - {{ parent() }}{% endblock %}

{% block body %}

<h1>Auctions of the user {% if app.request.get('username')%}{{app.request.get('username')}}{% else %}{{app.user}}{% endif %}</h1>

{# <h2>Back to dashboard</h2> #}


{# modal for tasks or notify user is not logged in #}
{% if app.user %}
{{ include('parts/include/_modal_tasks.html.twig')  }}
{% else %}
{{ include('parts/include/_modal_not_logged_in.html.twig')  }}
{% endif %}


<div id='list-content' class="container-fluid">
		<div class="row">
			<ul id="auctions"
				class="list-group col">
				{# jQuery.ajax populated dynamic content #}
			</ul>


		</div>

		{# pagination section #}
		{{ include('parts/include/_pagination.html.twig') }}
		
	</div>



{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    
{{ include('parts/include/_modal.js.twig')  }}

window.onLoad = getAuctions({{app.request.get('page')}});

function onChangeHandler (selectedObject)
{
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject
    }
	})
	.done(res => 
	{ 
		console.log(res);
		location.reload();
	});
}

function getAuctions(requestedPage)
{
    $.ajax({
   	 	url: "{{path ('getAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: { 
        requestedPage: requestedPage,
		type: {{type}} {% if app.request.get('username') %}, username: '{{app.request.get('username')}}'{% endif %}
				}
		})
	.done(res => 
	{ 
		if(res == 'none')
		{
			console.log(res);
			$('#list-content').html("No auctions");
			return;
		}

		$('#auctions').html(res);

		let pageElementsArray = $('.page-item').toArray();
		pageElementsArray.forEach(function (pageItemElement) 
		{
			if(requestedPage == pageItemElement.children[0].innerHTML)
				$(pageItemElement).addClass('active');
			else
				$(pageItemElement).removeClass('active');

			if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage == 1)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage > 1)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage-1)+')');
			}
			
			if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage == pageElementsArray.length-2)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage < pageElementsArray.length-2)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage+1)+')');
			}
		});
		window.history.pushState('page2', 'Title', '{{path(app.request.get('_route'),{'username' : app.request.get('username')})}}/'+requestedPage);
	});
}

</script>
{% endblock %}