{% extends 'base.html.twig' %}

{% block title %}Users list{{ parent() }}{% endblock %}

{% block body %}
<h1>Users list</h1>

{% for user in users %}
    {{user}} <a href="{{path('profile-details',{username: user} )}}">details</a>  <a href="{{path('user-auctions',{username: user} )}}">show auctions</a> 

    {# admin options section #}
    {% if is_granted('ROLE_ADMIN') %}
    
    | is Verified? {% if user.isVerified == 1 %}<b id="vc-{{user}}" class="text-success">yes</b> <a id="vl-{{user}}" href='#' onclick="toggleVerification('{{user}}',true)">cancel verification</a>{% else %}<b id="vc-{{user}}" class='text-danger'>no</b> <a id="vl-{{user}}" href='#' onclick="toggleVerification('{{user}}',false)">verify</a>{% endif %}

     | is Banned? {% if user.isBanned == 0 %}<b id="bc-{{user}}" class="text-success">no</b> <a id="bl-{{user}}" href='#' onclick="toggleBan('{{user}}',true)">ban</a>{% else %}<b id="bc-{{user}}" class='text-danger'>yes</b> <a id="bl-{{user}}" href='#' onclick="toggleBan('{{user}}',false)">unban</a>{% endif %}
    
    {% endif %}
    {# admin options section #}
    
    <hr>
{% endfor %}

{# <pre>
    {{ dump(users) }}
</pre> #}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>

{# admin options js code section #}
{% if is_granted('ROLE_ADMIN') %}
function toggleVerification(username, action)
{
        fetch("{{path('toggleVerification')}}", 
        {
            method: 'POST',
            body: JSON.stringify(
                {
                    action,
                    username
                })
        })
        .then((response) => 
        {
            response.json().then(function(json)
            {
                if(json.result == 'Success')
                {
                    $("#vc-"+username).toggleClass('text-danger');
                    $("#vc-"+username).toggleClass('text-success');
                    if(action)
                    {
                        $("#vc-"+username).html('no');
                        $("#vl-"+username).attr('onclick', 'toggleVerification("'+username+'",false)');
                        $("#vl-"+username).html('verify');
                    }
                    else
                    {
                        $("#vc-"+username).html('yes');
                        $("#vl-"+username).attr('onclick', 'toggleVerification("'+username+'",true)');
                        $("#vl-"+username).html('cancel verification');
                    }
                }

            });
        })
        .catch(() => { /* Error. Inform the user */ })
}

function toggleBan(username, action)
{
        fetch("{{path('toggleBan')}}", 
        {
            method: 'POST',
            body: JSON.stringify(
                {
                    action,
                    username
                })
        })
        .then((response) => 
        {
            response.json().then(function(json)
            {
                if(json.result == 'Success')
                {
                    $("#bc-"+username).toggleClass('text-danger');
                    $("#bc-"+username).toggleClass('text-success');
                    if(action)
                    {
                        $("#bc-"+username).html('yes');
                        $("#bl-"+username).attr('onclick', 'toggleBan("'+username+'",false)');
                        $("#bl-"+username).html('unban');
                    }
                    else
                    {
                        $("#bc-"+username).html('no');
                        $("#bl-"+username).attr('onclick', 'toggleBan("'+username+'",true)');
                        $("#bl-"+username).html('ban');
                    }
                }

            });
        })
        .catch(() => { /* Error. Inform the user */ })
}
{% endif %}
{# admin options js code section #}

</script>
{% endblock %}