<h2 {% if notifications|length == 0 %}class="no-borders"{% endif %} onclick="window.location.href='{{path('my-notifications')}}';">{% if notifications|length == 0 %} Brak powiadomień {% else %}
	Powiadomienia - <span>{{ notifications|length }}</span>{% endif %}
</h2>

{% set unSeenNotifications = 0 %}
{% for notification in notifications|reverse %}
    

<div class="notifications-item" onclick="window.location.href='{% if notification.relatedEntity['auction'] is defined %}{{path('auction-details',{'auctionId': notification.relatedEntity['auction']})}}{% else %}{{path('profile-details',{'username': notification.relatedEntity['username']})}}{% endif %}'">
	<div class="text">
	{% if notification.seenAt == null %}<b>{% set unSeenNotifications = unSeenNotifications +1 %} {% endif %}
		<h4>{{notification.createdAt|ago}}</h4>
		<p>{{notification.message}}</p>
		{% if notification.seenAt == null %}</b>{% endif %}
	</div>
</div>

{% endfor %}
<input type="hidden" id="urnC" value="{{ unSeenNotifications }}"/>
