{% extends 'base.html.twig' %}

{% block title %}Nowa aukcja{% endblock %}



{% block body %}

<h1>Formularz dodawania aukcji</h1>

{# {{ form_start(form) }} #}
{# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
</div> #}
{# <pre>
    {{ dump(form) }}
</pre> #}


{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.endsAt) }}
{{ form_row(form.Submit) }}


   <input id="upload-file" type="file" name="imageFile">
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>

</script>
{% endblock %}