{% extends 'base.html.twig' %}

{% block title %}Aukcja pieca {{auction.title}}{% endblock %}



{% block body %}

<h1>Aukcja pieca {{auction.title}}</h1>
<BR>

<h2> ENDS AT {{auction.endsAt|date('Y-m-d h:m')}} </h2>

<p>{{auction.description}}</p>

<br>

<input type="number" min="1" step="any" /> PLN  <button>Submit</button><br>

{% for offer in auction.offers %}
    <b>Emis offers {{offer.value/100}} PLN</b> triggered at {{offer.createdAt|date('Y-m-d h:m')}} <br>
{% endfor %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

</script>
{% endblock %}