{% extends 'base.html.twig' %}

{% block title %}Aukcje
{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECÓW WĘDZARNICZYCH</h1>

	<div class="container-fluid">
		<div class="row">
			<ul class="list-group col">
				{% for auction in auctions %}

					<a href="{{path('auction-details',{'auctionId': auction.id})}}" class="list-group-item list-group-item-dark list-group-item-action">[#{{auction.id}}] |
						{{auction.title}}
						| kończy się
						{{ auction.endsAt|date('Y-m-d') }}</a>
				{% endfor %}
			</ul>


		</div>
		<div class="row">
			<nav class="mt-2" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<li class="page-item {% if app.request.get('page') == 1 %}disabled{% endif %}">
						<a class="page-link" href="{{path ('auction-list', {'page': app.request.get('page')-1})}}">Previous</a>
					</li>


					{% for i in 1.. pages %}
						<li class="page-item {% if i == app.request.get('page')%}active{% endif %}">
							<a class="page-link" href="{{path ('auction-list', {'page': i})}}">{{i}}</a>
						</li>
					{% endfor %}


					<li class="page-item {% if app.request.get('page') == pages %}disabled{% endif %}">
						<a class="page-link" href="{{path ('auction-list', {'page': app.request.get('page')+1})}}">Next</a>
					</li>


					<select onchange="onChangeHandler(this)" class="form-select ms-2" aria-label="Default select example">
						<option selected>Items per page</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
                    <span id="jq">INIT</span>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function onChangeHandler (selectedObject)
{
    $.ajax({
    url: "{{path ('setPerPage')}}", //gdzie się łączymy
    method: "post", //typ połączenia, domyślnie get
    dataType: "json", //typ danych jakich oczekujemy w odpowiedzi
    contentType: "application/json", //typ wysyłanych danych
    data: { //dane do wysyłki
        title: "Przykładowy tytuł",
        author: "Karol Nowak",
    })
})
.done(res => { //readuję na odpowiedź - o tym poniżej
    console.log(res);
});
}
</script>
{% endblock %}