{% extends 'base.html.twig' %}

{% block title %}Aukcje
{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECÓW WĘDZARNICZYCH</h1>

	<div class="container-fluid">
		<div class="row">
			<ul id="auctions"
				class="list-group col">
				{# {% for auction in auctions %}
					
										<a href="{{path('auction-details',{'auctionId': auction.id})}}" class="list-group-item list-group-item-dark list-group-item-action">[#{{auction.id}}] |
											{{auction.title}}
											| kończy się
											{{ auction.endsAt|date('Y-m-d') }}</a>
					{% endfor %} #}
			</ul>


		</div>
		<div class="row">
			<nav class="mt-2" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<li class="page-item {% if app.request.get('page') == 1 %}disabled{% endif %}">
						<a class="page-link" href="#" onclick="getAuctions({{app.request.get('page')-1}})">Previous</a>
					</li>


					{% for i in 1.. pages %}
						<li class="page-item {% if i == app.request.get('page')%}active{% endif %}">
							<a class="page-link" href="#" onclick="getAuctions({{i}})">{{i}}</a>
						</li>
					{% endfor %}


					<li class="page-item {% if app.request.get('page') == pages %}disabled{% endif %}">
						<a class="page-link" href="#" onclick="getAuctions({{app.request.get('page')+1}})">Next</a>
					</li>

					Items per page
					<select onchange="onChangeHandler(this.options[this.selectedIndex].value)" class="form-select ms-2" aria-label="Default select example">
						{% for i in 1.. 5 %}
							<option {% if i == itemsPerPage/10 %} selected {% endif %} value="{{i}}0">{{i}}0</option>
						{% endfor %}
					</select>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>

window.onLoad = getAuctions({{app.request.get('page')}});

function onChangeHandler (selectedObject)
{
	console.log(selectedObject);
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject
    }
	})
	.done(res => 
	{ 
		console.log(res);
		location.reload();
	});
}

function getAuctions(requestedPage)
{
    $.ajax({
   	 	url: "{{path ('getAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: { 
        requestedPage: requestedPage
    }
		})
	.done(res => 
	{ 
		$('#auctions').html(res);
		$('.page-item').toArray().forEach(function (pageItemElement) 
		{
			console.log(pageItemElement);
		});
	});
}
</script>
{% endblock %}