{% extends 'base.html.twig' %}

{% block title %}Aukcja pieca {{auction.title}}{% endblock %}



{% block body %}
<h1>Aukcja pieca {{auction.title}}</h1>
<BR>

<img src="{{asset (fip~auction.images[0].filename)}}" alt='jakialt'>
{# {{ exampleVariableHijack }}   #}

<h2> ENDS AT {{auction.endsAt|date('H:m:s d-m-Y')}} </h2>
{# <h2> ENDS knplabs {{auction.endsAt | ago}} </h2>
<h2> ENDS raw: {{auction.endsAt | date('U')}} <div id='time'></div> </h2> #}
<h2> ENDS TIMER: <span id='timer'></span> </h2>

<p>{{auction.description}}</p>

<br>

<input id='offerInput' type="number" min="1" step="any" /> PLN  <button onclick='makeOffer()'>Offer</button><br>

<div id='offers'>
{% for offer in auction.offers %}
    <b>Emis offers {{offer.value/100}} PLN</b> offered at {{offer.createdAt|date('H:m:s d-m-Y')}} <br>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

let endsAt = "{{auction.endsAt | date('U')}}";
let timerElement = document.getElementById('timer');
// document.getElementById('time').innerHTML = Date.now()+" difference: "+ difference;

setTimeout(auctionTimer, 500)
function auctionTimer()
{
    timerElement.innerHTML = secondsToHms(endsAt-(Math.round(Date.now()/1000)));
    setTimeout(auctionTimer, 500)
}

function secondsToHms(d) {
    d = Number(d);
    let da = Math.floor(d / 86400);
    let h = Math.floor(d % 86400 / 3600);
    let m = Math.floor(d % 86400 % 3600 / 60);
    let s = Math.floor(d % 86400 % 3600 % 60);

    let daDisplay = (da < 10 ? "0" : "") + da + ":";
    let hDisplay = (h < 10 ? "0" : "") + h + ":";
    let mDisplay = (m < 10 ? "0" : "") + m + ":";
    let sDisplay = (s < 10 ? "0" : "") + s;
    return daDisplay + hDisplay + mDisplay + sDisplay; 
}

function makeOffer()
{
    let offerValue = document.getElementById('offerInput').value;
    let url = "{{path ('makeOffer') }}";

    fetch(url, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        },
    body: JSON.stringify({'offerValue': offerValue*100, // moze byc samo offerValue przekaze offervalue:value
            'auctionId' : {{auction.id}} }) 
        })
    .then((response) => 
    {
        let container = document.createElement('div');
        container.innerHTML = '<b>Emis offers '+offerValue+' PLN</b> triggered at date <br>';
        document.getElementById('offers').prepend(container);
      console.log(response)
      response.json().then(function(data) {
        console.log(data);
      });
    })
    .catch(() => { /* Error. Inform the user */ })
}




/*function secondsToHmsCut(d) { useful
    d = Number(d);
    let h = Math.floor(d / 3600);
    let m = Math.floor(d % 3600 / 60);
    let s = Math.floor(d % 3600 % 60);

    let hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
    let mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
    let sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
    return hDisplay + mDisplay + sDisplay; 
}*/
</script>
{% endblock %}