{% extends 'base.html.twig' %}

{% block title %}Aukcje
{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECY WĘDZARNICZYCH</h1>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content text-dark">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Whot U want 2 do?</h5>
        <button  onclick="$('#exampleModalCenter').modal('hide')" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
       Choose your action
      </div>

      <div class="modal-footer text-center">
         <button type="button" class="btn btn-secondary me-2" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('hide')">Cancel</button>
        <button type="button" class="btn btn-primary me-2" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('hide')">End now</button>
        <button type="button" class="btn btn-primary" onclick="deleteAuction()">Delete</button>
      </div>

    </div>
  </div>
</div>



	<div class="container-fluid">
		<div class="row">
			<ul id="auctions"
				class="list-group col">
				{# jQuery.ajax populated dynamic content #}
			</ul>


		</div>
		<div class="row">
			<nav class="mt-2" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<li class="page-item {% if app.request.get('page') == 1 %}disabled{% endif %}">
						<a class="page-link"  onclick="getAuctions({{app.request.get('page')-1}})">Previous</a>
					</li>


					{% for i in 1.. pages %}
						<li class="page-item {% if i == app.request.get('page')%}active{% endif %}">
							<a class="page-link" onclick="getAuctions({{i}})">{{i}}</a>
						</li>
					{% endfor %}


					<li class="page-item {% if app.request.get('page') == pages %}disabled{% endif %}">
						<a class="page-link" onclick="getAuctions({{app.request.get('page')+1}})">Next</a>
					</li>

					<span class="my-auto ms-3"><b>Items per page:</b></span>
					<select onchange="onChangeHandler(this.options[this.selectedIndex].value)" class="form-select ms-2" aria-label="Default select example">
						{% for i in 1.. 5 %}
							<option {% if i == itemsPerPage/10 %} selected {% endif %} value="{{i}}0">{{i}}0</option>
						{% endfor %}
					</select>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>
let optionsClicked = false;
    var clickedId;

    function task(clickedId)
    {
        optionsClicked = true;
        this.clickedId = clickedId;
        //$('.modal-body').html('You have clicked '+clickedId);
        $('#exampleModalCenter').modal('show')
    }

    function link(link)
    {
        if(!optionsClicked)
            window.location.href = link;
    }

    $('#exampleModalCenter').on('hidden.bs.modal', function (e) 
    {
        optionsClicked = false;
        $('.modal-body').html('Choose your action');
    })

    function deleteAuction()
    {
        {# console.log(clickedId); #}
        $('.modal-body').html('EXECUTING...');

         fetch("{{path('deleteAuction')}}", 
         {
            method: 'POST',
            body: JSON.stringify({
            'auctionId' : clickedId
            })
        })
        .then((response) => 
        {
            response.json().then(function(json)
            {
                {# console.log(json); #}
                $('.modal-body').html(json.result);

                if(json.result == 'Success')
                    setTimeout(() => {$('#exampleModalCenter').modal('hide')}, 1100);
            });
        })
        .catch(() => { /* Error. Inform the user */ })
                
    }




window.onLoad = getAuctions({{app.request.get('page')}});

function onChangeHandler (selectedObject)
{
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject,
			type: 0
    }
	})
	.done(res => 
	{ 
		console.log(res);
		location.reload();
	});
}

function getAuctions(requestedPage)
{
    $.ajax({
   	 	url: "{{path ('getAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: { 
        requestedPage: requestedPage
    }
		})
	.done(res => 
	{ 
		$('#auctions').html(res);
		let pageElementsArray = $('.page-item').toArray();
		pageElementsArray.forEach(function (pageItemElement) 
		{
			if(requestedPage == pageItemElement.children[0].innerHTML)
				$(pageItemElement).addClass('active');
			else
				$(pageItemElement).removeClass('active');

			if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage == 1)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage > 1)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage-1)+')');
			}
			
			if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage == pageElementsArray.length-2)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage < pageElementsArray.length-2)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage+1)+')');
			}
		});
		window.history.pushState('page2', 'Title', '{{path('auction-list')}}/'+requestedPage);
	});
}
</script>
{% endblock %}