{% extends 'base.html.twig' %}

{% block title %}Nowa aukcja{% endblock %}



{% block body %}

<h1>Formularz dodawania aukcji</h1>

{# {{ form_start(form) }} #}
{# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
</div> #}
{# <pre>
    {{ dump(form) }}
</pre> #}


{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.endsAt) }}

   <input id="upload-file" type="file" name="imageFile">

{{ form_row(form.Submit) }}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
let uploadElement = document.getElementById('upload-file');
uploadElement.addEventListener("change",e =>
{
    let files = e.target.files || e.dataTransfer.files;
    if(!files.length)
        console.log('no files'); 
    /*let product = document.getElementById("product");
    let product_id = product.options[product.selectedIndex].value;
    if(product_id == "") return;*/
    console.log(files);
    console.log(files[0].name);

    let filees = $('#upload-file').prop('files')[0];
    
    let formData = new FormData();
    formData.append('file', filees);
    console.log(formData);
    
    $.ajax({
		url: "{{path ('uploadTemporary') }}",
		method: "post", 
		dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
		data: formData
	})
	.done(res => 
	{ 
		console.log(res);
	});
   
});
</script>
{% endblock %}