{% if auctions|length == 0 %}none{% endif %}
{% for auction in auctions %}

	<a href="#" onclick="link('{{path('auction-details',{'auctionId': auction.0.id})}}')"  class="list-group-item list-group-item-dark list-group-item-action"><img src="{% if auction.filename is defined and auction.filename != '' %}{{asset(tip~auction.filename)}}{% endif %}" width="75">
		{{auction.0.title}}
		| kończy się
		
			{{ auction[0].endsAt|date('H:m:s d-m-Y') }} | Najwyższa oferta: <b>{{auction.hghst/100}} PLN</b>
			
			<button onclick="task({{auction.0.id}},{% if app.user and (auction.username is not defined or app.user.username == auction.username) %}true)">Tasks{% else %}false)">Favorite{% endif %}</button> 
			<img src="{{asset('interface/favd.png')}}" />
	</a>
{% endfor %}
