{% extends 'base.html.twig' %}

{% block title %}Aukcja pieca {{auction.title}}{% endblock %}



{% block body %}

{# modal for notify user is not logged in #}
	{% if not app.user %}
    {{ include('parts/include/ht_modal_not_logged_in.twig')  }}
	{% endif %}

<h1>Aukcja pieca {{auction.title}}</h1>
<BR>

<img src="{{asset (fip~auction.images[0].filename)}}" alt='jakialt' width="300">
{# {{ exampleVariableHijack }}   #}

<h2> Kończy się {{auction.endsAt|date('H:m:s d-m-Y')}} </h2>
{# <h2> ENDS knplabs {{auction.endsAt | ago}} </h2>
<h2> ENDS raw: {{auction.endsAt | date('U')}} <div id='time'></div> </h2> #}
<h2> Czas do końca: <span class="text-success" id='timer'></span> </h2>

<h2> Sprzedający: <a href="{{path('profile-details', {'username': auction.byUser})}}">{{auction.byUser}}</a></h2>
<h5> Adres email sprzedającego: {{app.user.Email}}<br>Numer telefonu: {{app.user.phone}}</h5>
<h2> Cena wywoławcza: {{auction.offers[auction.offers|length-1].Value/100}} PLN </h2>


<p>{{auction.description}}</p>

<br>

<form id='offerForm'>
<input id='offerInput' required="required" type="number" min="{% if auction.offers|length > 0 %}{{ auction.offers[0].value/100+1 }}{% else %}{{v_offer_value_min}}{% endif %}" 
max="{{validation_maxValue/100}}" maxLength="{{validation_maxValue|length+1}}" step="any" value="{% if auction.offers|length > 0 %}{{ auction.offers[0].value/100+1 }}{% else %}{{v_offer_value_min}}{% endif %}"/> PLN  <button class="btn-primary btn" type='submit' >Offer</button>
{# onclick='makeOffer()' #}
</form>

<div id='backendErrors'></div>
<div id='offers'>

{% if auction.offers|length == 1 %}There are no offers yet{% endif %}

{% for offer in auction.offers|filter(offer => offer.byUser != null) %}
    {# <b>{{offer.byUser.username}} offers {{offer.value/100}} PLN</b> offered at {{offer.createdAt|date('H:m:s d-m-Y')}} <br> #}
    <b>{{offer.byUser.username}} offers {{offer.value/100}} PLN</b> offered at {{offer.createdAt|date('H:m:s d-m-Y')}} <br>
{% endfor %}
</div>
<hr>

{% set commentCount = 0 %}
<input id='cids' type='hidden' value="{% for comment in auction.comments %}{% if comment.value == -2 %}{% set commentCount = commentCount + 1 %},{{comment.id}}{% endif %}
{% endfor %}
">



 <div class="row">
 <div><h2 class='d-inline-block'>Comments</h2><h3 class='float-end'>{% if commentCount == 0 %}No{% else %} {{commentCount}}{% endif %} comments</h3></div>
<div id="comments-section">
{% if commentCount > 0 %}
    {% for comment in auction.comments|sort %}
        {% if comment.value == -2 %}

        {% set iLikeIt = 'false' %}
        {% set iDislikeIt = 'false' %}
        
        {% set likesCount = 0 %}
        {% for userLike in comment.likedBy %}
            {% set likesCount = likesCount + 1 %}
            {% if app.user == userLike %}
                {% set iLikeIt = 'true' %}
            {% endif %}
        {% endfor %}

        {% set dislikesCount = 0 %}
        {% for userDislike in comment.dislikedBy %}
            {% set dislikesCount = dislikesCount + 1 %}
            {% if app.user == userDislike %}
                {% set iDislikeIt = 'true' %}
            {% endif %}
        {% endfor %}
        

            <div id="comment-{{comment.id}}" class="list-group-item-dark rounded p-3">
                <small class='float-end'>{{comment.createdAt|ago}}</small>
                <div>
                    <b>{{comment.byUser.username}}</b> <br>
                    <span id="scontent-{{comment.id}}"> {{comment.content}} </span><br>
                    <small><b class="{% if (likesCount-dislikesCount) < 0 %}text-danger{% elseif likesCount-dislikesCount > 0 %}text-success{% endif %}" id="commentPointsResult-{{comment.id}}" onclick="switchLikeMode(true)">{{likesCount-dislikesCount}}</b><b class="{% if likesCount < 0 %}text-danger {% elseif likesCount-dislikesCount > 0 %}text-success {% endif %} d-none" onclick="switchLikeMode(false)" id='lc-{{comment.id}}'>{{likesCount}}</b><b class="{% if dislikesCount < 0 %}text-success {% elseif dislikesCount > 0 %}text-danger {% endif %}ms-1 d-none" onclick="switchLikeMode(false)" id='dlc-{{comment.id}}'>{{dislikesCount}}</b></small><small id='like-{{comment.id}}' onclick='like({{comment.id}},{{iLikeIt}},{{iDislikeIt}},{{likesCount}},{{dislikesCount}})' class="text-success"><i class="bi bi-hand-thumbs-up{% if iLikeIt == 'true' %}-fill{% endif %}"></i></small> <small id='dislike-{{comment.id}}' onclick="dislike({{comment.id}},{{iLikeIt}},{{iDislikeIt}},{{likesCount}},{{dislikesCount}})" class="text-danger"><i class="bi bi-hand-thumbs-down{% if iDislikeIt == 'true' %}-fill{% endif %}"></i></small>{% if is_granted('ROLE_ADMIN') %}<small onclick='adminDeleteComment({{comment.id}})' class='float-end text-danger me-2'>usuń</small>{% endif %}{% if is_granted('ROLE_ADMIN') or (app.user and app.user.username == comment.byUser.username) %}<small onclick='editComment({{comment.id}})' class='float-end text-danger me-2'>edytuj</small>{% endif %}{% if false %}<span class="badge float-end">odpowiedz</span>{% endif %}
                </div>
            </div> 
        {% endif %}
    {% endfor %}
{% endif %}
</div>
</div>


<form class="mt-3">
  <div class="form-group">
    <textarea class="form-control" id="commentTA" rows="3"></textarea>
    <button onclick="submitComment()" class="btn-primary btn" type="button">Post comment</button>
  </div>
{% if app.user %}<input type="hidden" id="csrf" value="{{csrf_token(app.user.id)}}"/>{% endif %}
</form>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

 // TIMER SECTION ///
let endsAt = "{{auction.endsAt | date('U')}}";
let timerElement = document.getElementById('timer');
let likeMode = true;

auctionTimer();
function auctionTimer()
{
    timerElement.innerHTML = secondsToHms(endsAt-(Math.round(Date.now()/1000)));
    if(endsAt-(Math.round(Date.now()/1000))> 0)
        setTimeout(auctionTimer, 500)
    else
        {
            timerElement.innerHTML = "Auction ended {{auction.endsAt|ago}}.";
            $("#offerForm").toggleClass('d-none');
        }
}

function secondsToHms(d) {
    d = Number(d);
    let da = Math.floor(d / 86400);
    let h = Math.floor(d % 86400 / 3600);
    let m = Math.floor(d % 86400 % 3600 / 60);
    let s = Math.floor(d % 86400 % 3600 % 60);

    let daDisplay = (da < 10 ? "0" : "") + da + ":";
    let hDisplay = (h < 10 ? "0" : "") + h + ":";
    let mDisplay = (m < 10 ? "0" : "") + m + ":";
    let sDisplay = (s < 10 ? "0" : "") + s;
    return daDisplay + hDisplay + mDisplay + sDisplay; 
}
 // TIMER SECTION ///



 // VALIDATE OFFER ///
$('#offerForm').validate({submitHandler: function(form) {makeOffer();}});
 // VALIDATE OFFER ///



 // OFFER AJAX CALL ///
function makeOffer()
{
    if({% if app.user %}true{% else %}false{% endif %})
    {
        let offerValue = document.getElementById('offerInput').value;
        let url = "{{path ('makeOffer') }}";

        $.ajax({
            url: url,
            method: "post", 
            data: JSON.stringify({'offerValue': offerValue*100,
                'auctionId' : {{auction.id}},
				'csrf': $("#csrf").val()}) 
            })
        .done(res => 
        { 
            console.log(res);
            if(res.errorsBody != null)
            {
                document.getElementById('backendErrors').innerHTML = res.errorsBody;
            }
            else
            {
                let container = document.createElement('div');
                container.innerHTML = '<b>{{app.user}} offers '+offerValue+' PLN</b> triggered at '+new Date(Date.now()).toLocaleString()+"<br>";
                document.getElementById('offers').prepend(container);
                $("#offerInput").attr('min', ((res.recv+100)/100));
            }
        });
    }
    else
    {
        $('#exampleModalCenter').modal('show');
    }
}
// OFFER AJAX CALL ///


// POST COMMENT AJAX CALL ///
function submitComment()
{
    if({% if app.user %}true{% else %}false{% endif %} && $("#commentTA").val() != "")
    {
        let url = "{{path ('postComment') }}";

        $.ajax({
            url: url,
            method: "post", 
            data: JSON.stringify(
                {'content': $("#commentTA").val(),
                'auctionId': {{auction.id}},
				'csrf': $("#csrf").val() })
                })
        .done(res => 
        { 
            if(res.result == "Success")
            {
                $("#cids").val($("#cids").val()+','+res.genId);
                
                $("#comments-section").append('<div id="comment-'+res.genId+'" class="list-group-item-dark rounded p-3"><small class="float-end">now</small><div><b>{{app.user}}</b><br><span>'+$("#commentTA").val()+' </span><br><small><b id="commentPointsResult-'+res.genId+'" onclick="switchLikeMode(true)" '+ (lm ? '' : 'class="d-none"') +' >0</b><b '+ (!lm ? '' : 'class="d-none"') +' onclick="switchLikeMode(false)" id="lc-'+res.genId+'">0</b><b class="ms-1'+ (!lm ? '' : ' d-none') +'" onclick="switchLikeMode(false)" id="dlc-'+res.genId+'">0</b></small><small id="like-'+res.genId+'" onclick="like('+res.genId+',false,false,0,0)" class="text-success"><i class="bi bi-hand-thumbs-up"></i></small><small id="dislike-'+res.genId+'" onclick="dislike('+res.genId+',false,false,0,0)" class="text-danger"><i class="bi bi-hand-thumbs-down"></i></small>{% if is_granted('ROLE_ADMIN') %}<small onclick="adminDeleteComment('+res.genId+')" class="float-end text-danger me-2">usuń</small>{% endif %}<small onclick="editComment('+res.genId+')" class="float-end text-danger me-2">edytuj</small></div></div>');

                $("#commentTA").val('');
            }
            else
            {
                console.log(res.result);
            }
        });
    }
    else
    {
        $('#exampleModalCenter').modal('show');
    }
}
// POST COMMENT AJAX CALL ///


// LIKE AJAX CALL ///
function like(commentId, likeState, dislikeState, likesCount, dislikesCount)
{
    if({% if app.user %}true{% else %}false{% endif %})
    {
        let url = "{{path ('likeComment') }}";

        $.ajax({
            url: url,
            method: "post", 
            data: JSON.stringify(
                {commentId, likeState}) 
            })
        .done(res => 
        { 
            if(res.result == "Success")
            {
                if(likeState)
                {
                    $('#like-'+commentId).attr('onclick', 'like('+commentId+','+(!likeState)+','+dislikeState+','+(likesCount-1)+','+dislikesCount+')');
                    $('#like-'+commentId).html('<i class="bi bi-hand-thumbs-up"></i>');
                    $('#lc-'+commentId).html(likesCount-1);
                }
                else
                {
                    $('#like-'+commentId).attr('onclick', 'like('+commentId+','+(!likeState)+','+(dislikeState ? !dislikeState : dislikeState)+','+(likesCount+1)+','+(dislikeState ? (dislikesCount-1) : dislikesCount)+')');
                    $('#like-'+commentId).html('<i class="bi bi-hand-thumbs-up-fill"></i>'); 
                    $('#lc-'+commentId).html(likesCount+1);

                    if(dislikeState)
                    {
                        $('#dislike-'+commentId).attr('onclick', 'dislike('+commentId+','+(!likeState)+','+(!dislikeState)+','+(likesCount+1)+','+(dislikesCount-1)+')');
                        $('#dislike-'+commentId).html('<i class="bi bi-hand-thumbs-down"></i>'); 
                        $('#dlc-'+commentId).html(dislikesCount-1);
                    }
                    else
                    {
                        $('#dislike-'+commentId).attr('onclick', 'dislike('+commentId+','+(!likeState)+','+dislikeState+','+(likesCount+1)+','+dislikesCount+')');
                        $('#dislike-'+commentId).html('<i class="bi bi-hand-thumbs-down"></i>'); 
                        $('#dlc-'+commentId).html(dislikesCount);
                    }
                }


                likesCount = parseInt($("#lc-"+commentId).html());
                dislikesCount = parseInt($("#dlc-"+commentId).html());
                let likeRes = likesCount - dislikesCount;

                if(likeRes < 0)
                {
                    $("#commentPointsResult-"+commentId).removeClass('text-success');
                    $("#commentPointsResult-"+commentId).addClass('text-danger');
                }
                else if (likeRes > 0)
                {
                    $("#commentPointsResult-"+commentId).addClass('text-success');
                    $("#commentPointsResult-"+commentId).removeClass('text-danger');
                }
                else
                {
                    $("#commentPointsResult-"+commentId).removeClass('text-success');
                    $("#commentPointsResult-"+commentId).removeClass('text-danger'); 
                }
                $("#commentPointsResult-"+commentId).html(likeRes);

                if(likesCount>0)
                {
                    $("#lc-"+commentId).addClass("text-success");
                    $("#lc-"+commentId).removeClass("text-danger");
                }
                else if (likesCount < 0 )
                {
                    $("#lc-"+commentId).removeClass("text-success");
                    $("#lc-"+commentId).addClass("text-danger");
                }
                else
                {
                    $("#lc-"+commentId).removeClass("text-success");
                    $("#lc-"+commentId).removeClass("text-danger");
                }

                if(dislikesCount>0)
                {
                    $("#dlc-"+commentId).removeClass("text-success");
                    $("#dlc-"+commentId).addClass("text-danger");
                }
                else if (dislikesCount < 0 )
                {
                    $("#dlc-"+commentId).addClass("text-success");
                    $("#dlc-"+commentId).removeClass("text-danger");
                }
                else
                {
                    $("#dlc-"+commentId).removeClass("text-success");
                    $("#dlc-"+commentId).removeClass("text-danger");
                }
            }
        });
    }
    else
    {
        $('#exampleModalCenter').modal('show');
    }
}

function dislike(commentId, likeState, dislikeState, likesCount, dislikesCount)
{
    if({% if app.user %}true{% else %}false{% endif %})
    {
        let url = "{{path ('dislikeComment') }}";

        $.ajax({
            url: url,
            method: "post", 
            data: JSON.stringify(
                {commentId, dislikeState}) 
            })
        .done(res => 
        { 
            if(res.result == "Success")
            {
                if(dislikeState)
                {
                    $('#dislike-'+commentId).attr('onclick', 'dislike('+commentId+','+likeState+','+(!dislikeState)+','+likesCount+','+(dislikesCount-1)+')');
                    $('#dislike-'+commentId).html('<i class="bi bi-hand-thumbs-down"></i>');
                    $('#dlc-'+commentId).html(dislikesCount-1);
                }
                else
                {
                    $('#dislike-'+commentId).attr('onclick', 'dislike('+commentId+','+(likeState ? !likeState : likeState)+','+(!dislikeState)+','+ (likeState ? (likesCount-1): likesCount) +','+(dislikesCount+1)+')');
                    $('#dislike-'+commentId).html('<i class="bi bi-hand-thumbs-down-fill"></i>'); 
                    $('#dlc-'+commentId).html(dislikesCount+1);

                    if(likeState)
                    {
                        $('#like-'+commentId).attr('onclick', 'like('+commentId+','+(!likeState)+','+(!dislikeState)+','+(likesCount-1)+','+(dislikesCount+1)+')');
                        $('#like-'+commentId).html('<i class="bi bi-hand-thumbs-up"></i>'); 
                        $('#lc-'+commentId).html(likesCount-1);
                    }
                    else
                    {
                        $('#like-'+commentId).attr('onclick', 'like('+commentId+','+likeState+','+(!dislikeState)+','+likesCount+','+(dislikesCount+1)+')');
                        $('#like-'+commentId).html('<i class="bi bi-hand-thumbs-up"></i>'); 
                        $('#lc-'+commentId).html(likesCount);
                    }
                }

                likesCount = parseInt($("#lc-"+commentId).html());
                dislikesCount = parseInt($("#dlc-"+commentId).html());
                let likeRes = likesCount - dislikesCount;

                if(likeRes < 0)
                {
                    $("#commentPointsResult-"+commentId).removeClass('text-success');
                    $("#commentPointsResult-"+commentId).addClass('text-danger');
                }
                else if (likeRes > 0)
                {
                    $("#commentPointsResult-"+commentId).addClass('text-success');
                    $("#commentPointsResult-"+commentId).removeClass('text-danger');
                }
                else
                {
                    $("#commentPointsResult-"+commentId).removeClass('text-success');
                    $("#commentPointsResult-"+commentId).removeClass('text-danger'); 
                }
                $("#commentPointsResult-"+commentId).html(likeRes);

                if(likesCount>0)
                {
                    $("#lc-"+commentId).addClass("text-success");
                    $("#lc-"+commentId).removeClass("text-danger");
                }
                else if (likesCount < 0 )
                {
                    $("#lc-"+commentId).removeClass("text-success");
                    $("#lc-"+commentId).addClass("text-danger");
                }
                else
                {
                    $("#lc-"+commentId).removeClass("text-success");
                    $("#lc-"+commentId).removeClass("text-danger");
                }

                if(dislikesCount>0)
                {
                    $("#dlc-"+commentId).removeClass("text-success");
                    $("#dlc-"+commentId).addClass("text-danger");
                }
                else if (dislikesCount < 0 )
                {
                    $("#dlc-"+commentId).addClass("text-success");
                    $("#dlc-"+commentId).removeClass("text-danger");
                }
                else
                {
                    $("#dlc-"+commentId).removeClass("text-success");
                    $("#dlc-"+commentId).removeClass("text-danger");
                }
            }
        });
    }
    else
    {
        $('#exampleModalCenter').modal('show');
    }
}

var lm = true;

function switchLikeMode(lmValue)
{
    lm = !lmValue;
    let cids = $("#cids").val().substring(1).split(',');
    if(lmValue)
    {
        cids.forEach(function (i)
        {
            $("#lc-"+i).removeClass("d-none");
            $("#dlc-"+i).removeClass("d-none");
            $("#commentPointsResult-"+i).addClass("d-none");
        });
    }
    else
    {
        cids.forEach(function (i)
        {
            $("#lc-"+i).addClass("d-none");
            $("#dlc-"+i).addClass("d-none");
            $("#commentPointsResult-"+i).removeClass("d-none");
        });
    }
}

{% if is_granted('ROLE_ADMIN') %}
function adminDeleteComment(commentId)
{
   
	let url = "{{path ('deleteComment') }}";

	$.ajax({
		url: url,
		method: "post", 
		data: JSON.stringify(
			{commentId,
			'csrf': $("#csrf").val()})
		})
	.done(res => 
	{ 
		console.log(res);
		if(res.result == 1)
		{
			$("#comment-"+commentId).remove();
		}
	});
}
{% endif %}

{% if app.user %}
function editComment(commentId)
{
    window['org-content-of-'+commentId] = $('#scontent-'+commentId).html();
    $("#scontent-"+commentId).after('<button id="bcs-'+commentId+'" onclick="saveCommentChanges('+commentId+')" class="btn btn-primary m-1">Zapisz</button><button id="bcc-'+commentId+'" onclick="cancelCommentChanges(\''+commentId+'\')" class="btn btn-primary">Anuluj</button>');
    $("#scontent-"+commentId).html('<textarea class="form-control" id="commentTA-'+commentId+'" rows="3">'+$('#scontent-'+commentId).html()+'</textarea>');
}
function cancelCommentChanges(commentId)
{
    $("#scontent-"+commentId).html(window['org-content-of-'+commentId]);
    $("#bcs-"+commentId).remove();
    $("#bcc-"+commentId).remove();
}

function saveCommentChanges(commentId)
{
    let url = "{{path ('editComment') }}";

	$.ajax({
		url: url,
		method: "post", 
		data: JSON.stringify(
			{commentId,
            'content': $('#commentTA-'+commentId).val(),
			'csrf': $("#csrf").val()})
		})
	.done(res => 
	{ 
		if(res.result == 1)
		{
            $("#scontent-"+commentId).html($('#commentTA-'+commentId).val());
            $("#bcs-"+commentId).remove();
            $("#bcc-"+commentId).remove();
		}
        else
		    console.log(res);
	});
}
{% endif %}

</script>
{% endblock %}