{% extends 'base.html.twig' %}

{% block title %}Nowa aukcja{{parent()}}{% endblock %}


{% block body %}

<h1>Dodawanie aukcji</h1>

 {# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}  #}
 {{ form_start(form) }} 


{{ form_row(form.title) }}
    <input id="upload-token" type="hidden" name="auction_create_form[token]">
    <input id="image-order" type="hidden" name="auction_create_form[image-order]">
{{ form_row(form.description) }}
{{ form_row(form.endsAt) }}
{{ form_row(form.startingPrice) }}


<div id="drop-area">
  {# <form class="my-form"> #}
    <p>Dołącz zdjęcia</p>
    <progress id="progress-bar" class="d-none" max=100 value=0></progress>

    <div id="gallery"></div>
    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
    <label class="btn-primary btn" for="fileElem">Drag & drop or select files</label>
  {# </form> #}
</div>

{{form_row(form.Submit)}}
{{form_end(form)}}

{% endblock %}


{% block javascripts %}
{{ parent() }}
{% set bCA = ' btn btn-primary btn-circle btn-sm' %}


<script>
const TOKEN = Math.random().toString(36).replace(/[^a-z]+/g, '');
document.getElementById('upload-token').setAttribute('value', TOKEN)

let dropArea = document.getElementById('drop-area');

let uploadProgress = []
let filesDone = 0
let filesToDo = 0
let progressBar = document.getElementById('progress-bar')
let imgInitialIdentifier=0;

var count;


function previewFile(file, length) 
{
  let reader = new FileReader()
  reader.readAsDataURL(file)
  reader.onloadend = function() 
  {
    let pvWrapper = document.createElement('div');

    let previewContainer = document.createElement('div');
    let back = document.createElement('button');
    let next = document.createElement('button');
    let removeButton = document.createElement('button');

    previewContainer.className="preview-container";
    previewContainer.setAttribute("id", "iid-"+imgInitialIdentifier);

    count == 1 ? back.className="back-pbutton d-none{{bCA}}" :  back.className="back-pbutton{{bCA}}";
    back.innerHTML = "<i class='bi bi-arrow-left' role='img' style='font-size: 0.7rem;'></i>";
    back.setAttribute("onclick", "reorder(0,"+count+")");
    previewContainer.appendChild(back);
    

    let img = document.createElement('img')
    img.src = reader.result
    previewContainer.appendChild(img);


    count == length ? next.className="next-pbutton d-none{{bCA}}" : next.className="next-pbutton{{bCA}}";
    next.innerHTML = "<i class='bi bi-arrow-right' role='img' style='font-size: 0.7rem;'></i>";
    next.setAttribute("onclick", "reorder(1,"+count+")");
    previewContainer.appendChild(next);


    removeButton.innerHTML="<i class='bi bi-x' role='img' style='font-size: 0.7rem;'></i>";
    removeButton.className = 'remove-pbutton{{bCA}} bg-secondary';
    removeButton.setAttribute("onclick", "reorder(2,"+count+")");
    previewContainer.appendChild(removeButton);

    pvWrapper.appendChild(previewContainer);
    document.getElementById('gallery').appendChild(pvWrapper);

    console.log(document.getElementById('image-order').value);

    if(count == 1)// && document.getElementById('image-order').value == '')
    {
        let separator = document.createElement('hr');
        document.getElementById('gallery').appendChild(separator);   
    }
    imgInitialIdentifier++;

    
  //  console.log(count +" " + length);
//  if(count == length)
  //{
   // console.log(count +" " + length);
    reorder(-1,-1);
    setTimeout(reassignOnclickButtonsAndCalcNewOrder, 500);
  //}

  }
}

function reorder(task, clicked)
{
  let rootGallerySet = document.getElementById('gallery');
  let pvWrapper = document.createElement('div');
  let items = rootGallerySet.getElementsByClassName('preview-container');
  let copy = new Array();

  for(let i = 0; i< items.length; i++)
  {
    switch (task)
    {
      // MOVE ITEM NEXT TASK
      case 1:
        if(i == clicked-1)
          copy[i] = items[i+1].cloneNode(true);
        else if (i-1 == clicked-1)
          copy[i] = items[i-1].cloneNode(true);
        else
          copy[i] = items[i].cloneNode(true);
        break;

      // MOVE ITEM BACK TASK
      case 0:
        if(i+1 == clicked-1)
          copy[i] = items[i+1].cloneNode(true);
        else if (i == clicked-1)
          copy[i] = items[i-1].cloneNode(true);
        else
          copy[i] = items[i].cloneNode(true);
      break;

      // REMOVE ITEM TASK
      case 2:
        if(i < clicked-1)
          copy[i] = items[i].cloneNode(true);
        else if (i > clicked-1)
          copy[i-1] = items[i].cloneNode(true);
        break;

      // JUST REBUILD
      default:
        copy[i] = items[i].cloneNode(true);
        break;
    }

  }
    rootGallerySet.innerHTML = "";
    let counter = 1;
  copy.forEach((item) => 
  {
    rootGallerySet.appendChild(item);
    if(counter == 1)
        {
            let separator = document.createElement('hr');
            rootGallerySet.appendChild(separator);   
        }
    counter++;
  });

  reassignOnclickButtonsAndCalcNewOrder();

}

function reassignOnclickButtonsAndCalcNewOrder()
{
  let rootGallerySet = document.getElementById('gallery');

  counter = 1;
  let setToReassignOnclickButtons = rootGallerySet.getElementsByClassName('next-pbutton');

  for (let item of setToReassignOnclickButtons) 
  {
    item.setAttribute("onclick", "reorder(1,"+counter+")");
    counter == setToReassignOnclickButtons.length ? item.className = 'next-pbutton d-none' : item.className = 'next-pbutton{{bCA}}';
    counter++;
  }

  counter = 1;
  setToReassignOnclickButtons = rootGallerySet.getElementsByClassName('back-pbutton');

  for (let item of setToReassignOnclickButtons) 
  {
    item.setAttribute("onclick", "reorder(0,"+counter+")");
    counter == 1 ? item.className = 'back-pbutton d-none{{bCA}}' : item.className = 'back-pbutton{{bCA}}';
    counter++;
  }

  counter = 1;
  setToReassignOnclickButtons = rootGallerySet.getElementsByClassName('remove-pbutton');
  for (let item of setToReassignOnclickButtons) 
  {
    item.setAttribute("onclick", "reorder(2,"+counter+")");
    counter++;
  }


  // CALCULATE IMAGE NEW ORDER TO SEND IT TO THE SERVER
  let setToSaveNewOrder = rootGallerySet.getElementsByClassName('preview-container')
  let newOrder = "";
  for (let item of setToSaveNewOrder) 
  {
     newOrder+=","+item.getAttribute('id').substring(4);
  }
  newOrder = newOrder.substring(1);
  document.getElementById("image-order").setAttribute('value', newOrder)
}




function handleFiles(files) 
{
  count = 1;
  if(document.getElementById('image-order').value != '')
  count = 2;
  else
  count = 1;

  files = [...files]
  initializeProgress(files.length) 


  files.forEach((file) =>
  {
    uploadFile(file, files.length)
  });
  /*files.forEach((file) => 
  {
    ;
  })*/
}



function uploadFile(file,filesLength) 
{
  let url = "{{path ('uploadTemporary') }}"
  let formData = new FormData()

  formData.append('file', file)
  formData.append('TOKEN',TOKEN);

  fetch(url, {
    method: 'POST',
    body: formData
  })
  .then((response) => 
  {
      progressDone
      response.json().then(function(data)
      {
        if(data['errors'] == "")
        {
          console.log('success');
          previewFile(file,filesLength);
          count++;
        }
        else
        {
          console.log('failure');
          
        }
      });
  })
  .catch(() => { /* Error. Inform the user */ })
}




;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, preventDefaults, false)
})

function preventDefaults (e) {
  e.preventDefault()
  e.stopPropagation()
}

;['dragenter', 'dragover'].forEach(eventName => {
  dropArea.addEventListener(eventName, highlight, false)
})

;['dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, unhighlight, false)
})

function highlight(e) {
  dropArea.classList.add('highlight')
}

function unhighlight(e) {
  dropArea.classList.remove('highlight')
}

dropArea.addEventListener('drop', handleDrop, false)

function handleDrop(e) {
  let dt = e.dataTransfer
  let files = dt.files

  handleFiles(files)

}






function initializeProgress(numfiles) {
  progressBar.value = 0
  filesDone = 0
  filesToDo = numfiles
}

function progressDone() {
  filesDone++
  progressBar.value = filesDone / filesToDo * 100
}

</script>
{% endblock %}