{% extends 'base.html.twig' %}

{% block title %}Aukcje
{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECY WĘDZARNICZYCH</h1>


	{% if app.user %}
    {{ include('includes/_modal.html.twig')  }}
	{% else %}
    {{ include('includes/_modal_not_logged_in.html.twig')  }}
	{% endif %}



	<div class="container-fluid">
		<div class="row">
			<ul id="auctions"
				class="list-group col">
				{# jQuery.ajax populated dynamic content #}
			</ul>


		</div>
		<div class="row">
			<nav class="mt-2" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<li class="page-item {% if app.request.get('page') == 1 %}disabled{% endif %}">
						<a class="page-link"  onclick="getAuctions({{app.request.get('page')-1}})">Previous</a>
					</li>


					{% for i in 1.. pages %}
						<li class="page-item {% if i == app.request.get('page')%}active{% endif %}">
							<a class="page-link" onclick="getAuctions({{i}})">{{i}}</a>
						</li>
					{% endfor %}


					<li class="page-item {% if app.request.get('page') == pages %}disabled{% endif %}">
						<a class="page-link" onclick="getAuctions({{app.request.get('page')+1}})">Next</a>
					</li>

					<span class="my-auto ms-3"><b>Items per page:</b></span>
					<select onchange="onChangeHandler(this.options[this.selectedIndex].value)" class="form-select ms-2" aria-label="Default select example">
						{% for i in 1.. 5 %}
							<option {% if i == itemsPerPage/10 %} selected {% endif %} value="{{i}}0">{{i}}0</option>
						{% endfor %}
					</select>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>

{{ include('includes/_modal.js.twig')  }}


window.onLoad = getAuctions({{app.request.get('page')}});

function onChangeHandler (selectedObject)
{
	$.ajax({
		url: "{{path ('setPerPage') }}",
		method: "post", 
		dataType: "json", 
		data: { 
			itemsPerPage: selectedObject
    }
	})
	.done(res => 
	{ 
		console.log(res);
		location.reload();
	});
}

function getAuctions(requestedPage)
{
    $.ajax({
   	 	url: "{{path ('getAuctions') }}",
    	method: "post", 
    	dataType: "html", 
    	data: { 
        requestedPage: requestedPage,
			type: 0
    }
		})
	.done(res => 
	{ 
		$('#auctions').html(res);
		let pageElementsArray = $('.page-item').toArray();
		pageElementsArray.forEach(function (pageItemElement) 
		{
			if(requestedPage == pageItemElement.children[0].innerHTML)
				$(pageItemElement).addClass('active');
			else
				$(pageItemElement).removeClass('active');

			if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage == 1)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Previous' && requestedPage > 1)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage-1)+')');
			}
			
			if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage == pageElementsArray.length-2)
				$(pageItemElement).addClass('disabled');
			else if(pageItemElement.children[0].innerHTML == 'Next' && requestedPage < pageElementsArray.length-2)
			{
				$(pageItemElement).removeClass('disabled');
				pageItemElement.children[0].setAttribute('onclick','getAuctions('+(requestedPage+1)+')');
			}
		});
		window.history.pushState('page2', 'Title', '{{path('auction-list')}}/'+requestedPage);
	});
}
</script>
{% endblock %}