{% extends 'base.html.twig' %}

{% block title %}PDPAPW.PL{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECY WĘDZARNICZYCH</h1>

	{# modal for tasks or notify user is not logged in #}
	{% if app.user %}
    {{ include('parts/include/ht_modal_tasks.twig')  }}
	{% else %}
    {{ include('parts/include/ht_modal_not_logged_in.twig')  }}
	{% endif %}


	<div class="container-fluid">

	<div class="row">
	<h2>FILTERS SEKCJON </H2>
	<input type="text" placeholder="Szukaj">
	<label for="search">szukaj wg</label>
		<select name="search" id="activity">
		<option selected value="1">tytulu</option>
		<option value="2">opisu</option>
		</select>
	
	<label for="activity">Aktualnosc</label>
		<select name="acitvity" id="activity">
		<option selected value="1">Aktywne</option>
		<option value="2">Zakończone</option>
		<option value="3">Wszystkie</option>
		<option value="4">bliskie zakonczenia 1h</option>
		</select>


	<input type="number" placeholder="cena od">
	<input type="number" placeholder="Cena do">

	<input type="number" placeholder="Użytkownika">
	<h2>END WHERE<BR>ORDER BEGIN</h2>
<label for="sort">Sortuj według</label>
		<select name="sort" id="activity">
		<option selected value="1">Nazwy</option>
		<option value="2">Utworzenia</option>
		<option value="3">Daty Zakonczenia</option>
		<option value="4">Ceny</option>
		<option value="5">Ilosci ofert</option>
		<option value="6">Ilosci komentarzy</option>
		</select>


<label for="order">Porzadek</label>
		<select name="order" id="activity">
		<option selected value="1">Rosnaco</option>
		<option value="2">Malejąco</option>
		</select>
		<button id='submitFilters'>SUBMIT</button>

	</div>



		<div class="row mt-2">
			<ul id="auctions"
				class="list-group col">
				{# jQuery.ajax populated dynamic content #}
			</ul>

		</div>
		{# pagination section #}
		{{ include('parts/include/ht_pagination.twig') }}

	</div>
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>


{# only dynamic data for getAuctions #}
let GAJArray = {type: 0};
let historyString = '{{path('auction-list')}}/';



$('#submitFilers').





{# modal code #}
{{ include('parts/include/js_modal.twig')  }}

{# getAuctions code #}
{{ include('parts/include/js_getAuctions.twig')  }}


</script>
{% endblock %}