{% extends 'base.html.twig' %}

{% block title %}PDPAPW.PL{% endblock %}

{% block body %}
	<div class="row"><h1><span class='badge  badge-success'>PORTAL</span></h1></div>


		<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Right-aligned menu
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button">Action</button>
			<button class="dropdown-item" type="button">Another action</button>
			<button class="dropdown-item" type="button">Something else here</button>
		</div>
		</div>

	{# modal for tasks or notify user is not logged in #}
	{% if app.user %}
    {{ include('parts/include/ht_modal_tasks.twig')  }}
	{% else %}
    {{ include('parts/include/ht_modal_not_logged_in.twig')  }}
	{% endif %}


	<div class="container-fluid">
			
			{{ include('parts/include/ht_filters.html.twig')  }}

		<div id='contener'></div>


	</div>

{% endblock %}



{% block javascripts %}
{{ parent() }}
<script>


{# only dynamic data for getAuctions #}
let GAJArray = {mMode: 0, filters: {
	f_liveness: 1,
	o_orderBy: 'title'
}};
let historyString = '{{path('auction-list')}}/';


{{ include('parts/include/js_submitFilters.twig')  }}



{# modal code #}
{{ include('parts/include/js_modal.twig')  }}

{# getAuctions code #}
{{ include('parts/include/js_getAuctions.twig')  }}


</script>
{% endblock %}